@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --primary-font: 'Noto Sans';
  --secondary-font: 'Merriweather';
}

body {
 background-color: #B12631;
}

h1, h2 {
    font-family: var(--secondary-font);
    color: #F1C40F;
    padding-top: 0.5rem;
}

h3 {
    font-family: var(--secondary-font);
    color: #F1C40F;
}

/* Main box area styling */
/*Styling for landing page box area*/
#home-quiz-box-area
{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

/*Styling for Instructions box*/
#instruction-box-area
{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

/*Styling for username input area*/
#username-input-area
{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

#category-options-area
{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

#quiz-countdown-area {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

#quiz-countdown-area p {
    color: #ECF0F1;
    font-weight: bold;
}

#questions-answers-area {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

#leaderboard-area {
    background-color:rgba(255, 255, 255, 0.1);
    border-radius:20px;
    max-width: 800px;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3); 
}

#action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    gap: 1rem;
}

 button {
 background-color: #2C3E50;
 color: #ECF0F1;
 font-family: var(--primary-font);
 font-weight: bold;
 padding: 1rem;
 border: none;
 border-radius: 20px;
 width: 200px;
}

#questions-answers-area button {
display: block;
margin: 10px auto; 
text-align: center;   
}

/*Make leaderboard layout more realstic*/
#leaderboard-area ol {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#leaderboard-area li {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.20);
}