@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --primary-font: 'Noto-Sans';
  --secondary-font: 'Merriweather';
}

body {
 background-color: #B12631;
}

h1, h2 {
    font-family: var(--secondary-font);
    color: #F1C40F;
    padding-top: 2rem;
}

